<li class="list-inline-item">
  <%= link_to comment_path(comment),
              class: 'js-delete-comment-button',
              method: :delete,
              data: { confirm: t('defaults.message.delete_confirm') },
              remote: true do %>
    <%= icon 'fa', 'trash' %>
    <%= image_tag comment.user.avatar_url, class: 'rounded-circle', size: '50x50' %>
  <% end %>
</li>